<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A new tutorial has been added to community <%= @community_name %>!></h1>
    <p>
      <h3><a href=""><%= @tutorial_name %></a></h3>
    </p>
    <p>
      Please follow the above link to view the new user-genereated tutorial.  Don't forget to rate the tutorial and let the creator know what you think!
    </p>
    <p>Thanks for being a member of infobytes and have a great day!</p>
  </body>
</html>