<div class="row topic-show">
	<div class="small-5 small-offset-1 medium-7 medium-offset-0 large-9 large-offset-0 columns">		
		<% @subtopics.each do |subtopic| %>
			<%= link_to subtopic_path(subtopic) do %>	
					<div class="sub-topic-list">
						<li>
							<p class="tut-title">
								<%= subtopic.title %>
							<p class="tut-description">
								<%= subtopic.description %>
							</p>
						</li>
					</div>
			<% end %>
		<% end %>		
		<%= will_paginate @subtopics %>
	</div>
</div>