<% if @errors %>
  <% @errors.each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>

<%= form_for [@sub_chapter,@code_snippet] do |f|%>
  <%= render "code_snippets/inner_form" %>

<% end %>

<%= render "code_snippets/ace_scripts" %>

