<% @code_snippet.body = "" unless @code_snippet.body %>

<%= render "code_snippets/input_language_select" %>

<p>Code Block:</p>

<div id="editor" style="height: 200px; width: 100%; background-color:#eee"><%= @code_snippet.body %></div>
<input type="hidden" id="input_value" name="code_snippet[body]" value="">
<input type="submit" value="Submit" onclick="storeInfo()">

<script>
	var editor = ace.edit("editor");
  editor.setTheme("ace/theme/textmate");
  editor.session.setMode("ace/mode/ruby");
  editor.getSession().setUseWrapMode(true);
  
  editor.focus();

  editor.setOptions({
    maxLines: Infinity
  });
  
  updateLanguage = function() {  
    var newLanguage = document.getElementById('language').value
    editor.session.setMode("ace/mode/" + newLanguage);
  }

  storeInfo = function() {  
    document.getElementById('input_value').value = editor.getValue()
  }
</script>

