<% @code_snippet.body = "code here" unless @code_snippet.body %>
<p>Code Block:</p>
<div id="editor" style="height: 200px; width: 500px; background-color:#eee"><%= @code_snippet.body %></div>
<input type="hidden" id="input_value" name="code_snippet[body]" value="bob">
<input type="submit" onclick="storeInfo()">


<%= render "code_snippets/ace_scripts" %>
