<p>Code Block:</p>
<div id="editor" style="height: 200px; width: 500px; background-color:#eee">some text</div>
<input type="hidden" id="input_value" name="code_snippet[body]" value="bob">
<input type="submit" onclick="storeInfo()">
