<% if @errors %>
  <% @errors.each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>
<% @count = 1 %>
<%= form_for @code_snippet do |f|%>
  
  <p>Code Block:</p>
  <div id="editor" style="height: 200px; width: 500px; background-color:#eee"><%= @code_snippet.body %></div>
<% end %>

<%= render "code_snippets/ace_scripts" %>


<script>
  editor.setReadOnly(true)
</script>