<h1 class="user-profile">Hi, <%= "#{@user.first_name}" %>! </h1>

<h3>Manage your tutorials:</h3>

<div class="smaller-container">
	<div class="row topics-deck">
		<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3 topics-grid">
			<li><%= link_to "New Tutorial", new_tutorial_path %></li>
			<% @tutorials.each do |tutorial| %>
				<li>
					<%= link_to "#{tutorial.title}", tutorial_path(tutorial.id) %>
				</li>
			<% end %>
		</ul>
	</div>
</div>