
<div class="row">
	<p id="about_first">There is no discipline more well-documented online than programming. Tech knowledge is in so much abundance on the internet that it serves as an equalizer, removing significant educational barriers and producing a high number of self-taught programmers.</p>

	<p id="about">infobytes was created as a final project at Dev Bootcamp by five individuals: Alex Codreanu, Amara Getzell, Eric Stensland, Matt O'Connell, and Neal Peters. We were inspired by the amount of knowledge we gained prior to Dev Bootcamp by simply searching the internet, but lamented at the lack of a centralized location for actual tutorials or fleshed-out instruction.  Even when we found specific tutorials, it was hard to tell if it was out of date or correct.</p>

	<p id="about">infobytes solves this problem by creating a uniform platform for creating and reading technology-related tutorials, allowing user-voting and comments on every paragraph, image, and code snippet.</p>

	<p id="about">We hope that future, fledgling coders or technology enthusiasts will benefit from infobytes in the way that the five of us have benefited from online instruction.</p>
</div>