
<div class="row">
	<p id="about_first">There is no discipline better documented online than programming. Tech knowledge is so abundant on the internet that it serves as an equalizer, removing significant educational barriers and producing a high number of self-taught programmers.</p>

	<p id="about">Infobytes was created as a final project at Dev Bootcamp by five individuals: Alex Codreanu, Amara Getzell, Eric Stensland, Matt O'Connell, and Neal Peters. We were inspired both by the vast knowledge we gained prior to Dev Bootcamp by simply searching the internet, and by the lack of a centralized location for tutorials and fleshed-out instruction.  Even when we found seemingly useful tutorials, it was hard to tell if they were out of date or incorrect.</p>

	<p id="about">Infobytes solves this problem by supplying a platform for creating and reading standardized technology tutorials. Users can rate tutorials and leave in-line comments on every paragraph, image, and code snippet.</p>

	<p id="about">We hope that future, beginning coders and technology enthusiasts alike will benefit from infobytes in the way that the five of us have benefited from online instruction.</p>
</div>