<div class="welcome-banner">
	<h1 class="page-title">
		Welcome to infobytes!
	</h1>	
</div>

<div class="home-navigation">
	<%= link_to "#{fa_icon('compass', class: "fa-5x")}".html_safe, tutorials_path %>
	<%= link_to "#{fa_icon('file-text', class: "fa-5x")}".html_safe, topics_path %>
</div>


