
<% @tutorials.each do |tutorial| %>
	    <%= link_to %>
		    <div class="tutorial-list medium-10 columns">
				<li>
					<p class="tut-title">
						
					</p>
					<p class="tut-description">
						<%= tutorial.description %>
					</p>
					<p class="author-date">
						<%= authorship(tutorial) %>
					</p>
				</li>
		    </div>
	    <% end %>
	    <div class="medium-2 columns"></div>
<% end %>


<%= link_to root_path do %>
  <div>Hey!</div>
<% end %>