
<% @tutorials.each do |tutorial| %>
	<div class="tutorial-list medium-10 columns">
		<li>
			<p class="tut-title">
				<%= link_to "#{tutorial.title}", tutorial_path(tutorial.id) %>
			</p>
			<p class="tut-description">
				<%= tutorial.description %>
			</p>
			<p class="author-date">
				<%= authorship(tutorial) %>
			</p>
		</li>
	</div>
	<div class="medium-2 columns"></div>
<% end %>
