
<% @tutorials.each do |tutorial| %>
	<a href="/tutorials/<%= tutorial.id %>" class="tut-block">
	    <div class="tutorial-list medium-10 columns">
		<li>
			<p class="tut-title">
				<%= tutorial.title %>
			</p>
			<p class="tut-description">
				<%= tutorial.description %>
			</p>
			<p class="author-date">
				<%= authorship(tutorial) %>
			</p>
		</li>
	    </div>
	    <div class="medium-2 columns"></div>
	</a>
<% end %>
