<div class="row">
	<div class="small-6 small-offset-3 columns">
		<h2>Sign in</h2>
  </div>
</div>
<%= render "devise/sessions/form" %>
<div class="row">
	<div class="small-6 small-offset-3 columns">
		<%= render "devise/shared/links" %>
	</div>
</div>
