<h1>Chapter <%= @chapter.number %>: <%= @chapter.title %></h1>
<% @count = 0 %>
<% @chapter.sub_chapters.each do |sub| %>
  <h4>  <%=link_to sub.title, sub_chapter_path(sub) %> </h4> 
  <br>
<% end %>

<%= link_to "Add subchapter", new_chapter_sub_chapter_path(@chapter) %>
