body {
  background-color: #FAFAF8;
  // font-family: 'Noticia Text', serif;
}

a {
  color: #575757;
  text-decoration: none;
}

a:hover {
  color: #575757;
}

li {
  list-style-type: none;
}

.flash-message {
	background-color: #FAFAF8;
  p {
  	text-align: center;
  	line-height: 60px;
    height: 60px;
    color: #70E270;
  }
}

#error_explanation {
  h2 {
    font-size: 1em;
  }
  ul {
    color: red;
  }
}

#editor {
  width: 100%;
  .ace_scroller {
    width: 100%;
  }
}
 
.smaller-container {
  width: 90%;
  margin: 0 auto;
  display: block;
}

.topics-deck{
  margin: 2em auto;
}

.topics-grid {
  li {
    a {
      background-color:  #e8e8e8;
      width: 100%;
      display: block;
      text-align: center;
      min-height: 6em;
      line-height: 6em;
      font-size: 2em;
      border-radius: 5px;
    }
  }
}


.tutorial-list:hover{
  background-color: #e8e8e8;
  padding: 2em auto;
}
  
.tutorial-list {  
  margin: .8em auto;
  width: 100%;
  position: relative;
  border-bottom: 1px solid #e8e8e8;
  list-style-type: none;
  height: 5em;

  li {
    // background-color: pink;
    padding-top:10px;
  }

  .tut-title {
    font-size: 22px;
    line-height: 5px;
    font-weight: 500;
    letter-spacing: -.5px;
  }

  .tut-description {
    font-size: 14px;
    margin-bottom: 1px;
  }

  .author-date{
    font-style: italic;
    color: #a2a2a2;
    font-size: 13px;
  }
}

/* ******* Footer ******** */

.footer-bottom {
  background-color: #575757;
  color: #FAFAF8;
  height: 10em;
  ul {
    display: inline;
  }
  a {
    color: #FAFAF8;
    &:hover {
      color: black;
    }
  }
}


