body {
  background-color: #FAFAF8;
  // font-family: 'Noticia Text', serif;
}

a {
  color: #575757;
  text-decoration: none;
}

a:hover {
  color: #575757;
}

li {
  list-style-type: none;
}

.flash-message {
	background-color: #FAFAF8;
  p {
  	text-align: center;
  	line-height: 60px;
    height: 60px;
    color: #70E270;
  }
}

#error_explanation {
  h2 {
    font-size: 1em;
  }
  ul {
    color: red;
  }
}

#editor {
  width: 100%;
  .ace_scroller {
    width: 100%;
  }
}

.tutorial-list {  
  padding: 29px 125px 29px 14px;
  width: 1100px;
  position: relative;
  border-bottom: 1px solid #e8e8e8;
  list-style-type: none;
  height: 110px;

  li {
    vertical-align: middle;

  }


  .tut-title {
    font-size: 22px;
    line-height: 5px;
    font-weight: 500;
letter-spacing: -.5px;
  }
  .author-date {
    font-style: italic;
  color: #a2a2a2;
  font-size: 13px;
  }
}
