body {
  background-color: #FAFAF8;
  // font-family: 'Noticia Text', serif;
}

a {
  color: #575757;
  text-decoration: none;
}

a:hover {
  color: #575757;
}

.flash-message {
	background-color: #FAFAF8;
  p {
  	text-align: center;
  	line-height: 60px;
    height: 60px;
    color: #70E270;
  }
}

#error_explanation {
  h2 {
    font-size: 1em;
  }
  ul {
    color: red;
  }
}

#editor {
  width: 100%;
  .ace_scroller {
    width: 100%;
  }
}

