.welcome-banner {
	background-color: #70E270;
	min-height: 10em;

	h1 {
		text-align: center;
    line-height: 300px;
    height: 309px;
    margin: 0;
	}	
}

// navbar F5F5F0
// site-background FAFAF8 
// 