.welcome-banner {
	background-color: #42A362;
	min-height: 20em;
	display: table;
	width: 100%;
	div {
		vertical-align: middle;	
		display: table-cell;
	}
}

.tagline {
	margin-top: 0;
	padding-top: 15px;
	font-size: 55px;
	color: #F5F5F0;
	text-align: center;
}

.site-description {
	color: #F5F5F0;
	text-align: center;
}

.icon-banner {
	margin: 0 auto;
	display: table;
	width: 100%;
}

.home-icons {
	margin: 4em auto;
  div {
		text-align: center;
		&:hover > *{
			color: #42A362;
			h4 {
				color: #42A362;
			}
		}
  }
}

.spacing {
	height: 200px;
}

// navbar F5F5F0
// site-background FAFAF8 
// 