.welcome-banner {
	background-color: #70E270;
	min-height: 10em;

	h1 {
		text-align: center;
    line-height: 300px;
    height: 309px;
    margin: 0;
	}	
}

.large-3 {
	width: 33%;
}

.large-3.columns {
	margin-top: 2em;
	text-align: center;
	h4 {
		text-align: center;
	}

	p {
		text-align: center;
	}
}

.spacing {
	height: 200px;
}

// navbar F5F5F0
// site-background FAFAF8 
// 