.fa-edit {
	color: #3271FF;
	&:hover {
		color: #323FFF;
	}
}

.fa-arrow-circle-o-down {
  color: #138C1C;
  &:hover {
  	color: #0E6915;
  }
}

.fa-arrow-circle-o-up {
  color: #138C1C;
  &:hover {
  	color: #0E6915;
  }
}

.fa-trash-o {
  color: #E33226;
  &:hover {
  	color: #B0261E;
  }
}

#fa-plus-square {
	color: #138C1C;
  &:hover {
  	color: #0E6915;
  }
}

.fa-user {

}