.row {
  .href-button-inputs {
    width: 40%;
    display: inline-block;
    input {
      height: 25px;
      font-size: 85%;
    }
  }
  .editable {
    width: 100%;
    height: auto;
    min-height: 150px;
    border: 1px solid #ccc;
    padding: 5px;
  }      
}


 
