

.row {
  .href-button-inputs {
    width: 40%;
    display: inline-block;
    input {
      height: 25px;
      font-size: 85%;
    }
  }  
  .href-buttons {
    // height: 15px;
    // font-size: 85%;
    // padding: 0px;
  }     
}
 
