.image-container {
  width: 100%;
  img {
    margin: 0 auto;
    display: block; 

  }
}

.media-options {
  width: 70%;
  margin: 1em auto;
  background-color: #DCDCD8;
  border-radius: 10px;
  display: table;
  div {
    width:33%;
    display: inline-table;
    text-align: center;
    padding: 2em;
    a {
    }
  }
}

.content-item {
  margin: 3em auto;
}
.sub-chapter {
  &:hover {
    .sub-chapter-icon {
      display: block;
    }
  }
  .sub-chapter-icon {
    display: none;
  }
}
.sub-chapter > * {
  display: inline-block;  
}

.comments-container {
  display: inline-block;
  background-color: #555;
  border-radius: 3px;
  a {
    padding: 4px;
    color:white;
    line-height: 20px;
    text-align: center;
  }
}
