.image-container {
  width: 100%;
  img {
    margin: 0 auto;
    display: block; 

  }
}

.media-options {
  width: 70%;
  margin: 1em auto;
  a {
    width:30%;
    display: inline-table;
    text-align: center;
  }
}
