.chapter {
  h2 {
  	display: inline-block;
  }
  .del-chapter {
  	color: red;
  }
}

.sub-chapter {
  h2 {
    display: inline-block;
  }
  .del-sub-chapter {
    color: red;
  }
}

.fa-arrow-circle-o-down {
  color: green;
}