.chapter {
  width: 100%;
  display: block;
  &:hover {
    .chapter-edit-icons {
      display: inline;
      margin-left: 2em;
    }
  }

  .chapter-edit-icons {
    display: none;
  }
}

.chapter > * {
  display: inline-table;
}



