.chapter {
  width: 100%;
  display: block;
  &:hover {
    .right-aligned-icons{
      display: block !important;
    }
  }

  .chapter-title {
    display: inline-block;
  }

  .chapter-icons {
    display: inline-block;
    width: 100%;

    .right-aligned-icons {
      float: left;
      display: none;
    }  
  }

  .chapter-icons > *{
    display: inline-block;
  }
}


.sub-chapter {
  h2 {
    display: inline-block;
  }
}



