.profile-wrapper{
  width: 90%;
  display: block;
  margin: 2em auto;
}

.profile-block {
	.username {
    font-size: 1.5em;
    height: 2em;
    margin-bottom: 1em;
	}
	.profile-desc {
		margin-top: 4em;
	}
}


.hover-gray {
	padding-left: 1em;
	&:hover {
		background-color: #E8E8E8;
	}
}
