<div>
	<h2>Communities</h2>
	<% @communities.each do |community| %>
		<%= link_to community_path(community) do %>
			<div class ="tutorial-list medium-10 medium-offset columns">
				<li> 
					<p class="tut-title">
						<%= community.name %> 
					</p>
				</li>
			</div>
		<% end %>	
	<% end %>

</div>
