<div class="row">
  <div class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 columns">
    <% if @errors %>
      <% @errors.each do |error| %>
        <p><%= error %></p>
      <% end %>
    <% end %>
    <a id="href-display" class="href-buttons button tiny" onmousedown="showInputs(); storePlaceHolder();">Add Link</a>
      <div id="fields">
        <div style="display: inline-block;">
          <a id="href-adder" class="href-buttons button tiny" onmousedown="addAnchorTag()">Insert Tag</a>
        </div>
        <div style="display: inline-block;">
          <label for="link" class="href-button-inputs">Text:<input type="text" id="linkText" value=""></label>
          <label for="link" class="href-button-inputs">Link:<input type="text" id="link" value=""></label>
      </div>    
      
    <%= form_for [@sub_chapter,@paragraph] do |f|%>

      <div><p>Body:</p><br>
        <input type="hidden" name="paragraph[body]" value="" id="paragraph_body">
      </div>
      <div contenteditable="true" id="editable-div" class="editable"><%= @paragraph.body.html_safe %></div>

      <div><%= f.submit :onclick => "grabInput()", class: "button" %></div>

    <% end %>

  </div>
</div>



<script>
  paragraphInitialize()
</script>