<div class="row">
  <div class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 columns">
    <% if @errors %>
      <% @errors.each do |error| %>
        <p><%= error %></p>
      <% end %>
    <% end %>
    <a id="href-display" class="href-buttons button tiny" onmousedown="showInputs()">Add Link</a>
      <div id="fields">
        <a id="href-adder" class="href-buttons button tiny" onmousedown="addAnchorTag()">Insert Tag</a>
        <label for="link" class="href-button-inputs">Link:<input type="text" id="link" value="http://"></label>
      </div>    
      
    <%= form_for [@sub_chapter,@paragraph] do |f|%>

      <div><%= f.label :body %><br>
        <input type="hidden" name="paragraph[body]" value="" id="paragraph_body">
      </div>
      <div contenteditable="true" id="editable-div" class="editable"></div>

      <div><%= f.submit :onclick => "grabInput()"%></div>

    <% end %>

  </div>
</div>

<a class="close-reveal-modal">&#215;</a>

<script>
  // These toggle the visibility of the adding A tag buttons and input
  // (These are necessary for non-JQuery, with JQuery a partial could be brought in)
  hideInputs = function() {
    display.style.display = 'inline-block'
    adder.style.display = 'none'
    link.parentNode.style.display = 'none'
    link.innerHTML = "http://"
  }

  showInputs = function() {
    display.style.display = 'none'
    adder.style.display = 'inline-block'
    link.parentNode.style.display = 'inline-block'
  }

  // Adds an anchor tag inside the html code (so it is rendered as 
  // linked text in the editable div)
  addAnchorTag = function() {
    var selectedNode = containerNodeCheck(window.getSelection().getRangeAt(0).startContainer
    if (selectedNode, editableDiv)) {
      var range = window.getSelection().getRangeAt(0);
      if (range.toString() !== ""){
        var selectionContents = range.extractContents();
        var aTag = document.createElement("a");
        aTag.href = link.value
        aTag.appendChild(selectionContents)
        range.insertNode(aTag);
      }
      hideInputs()
    }
  }

  // Checks if selected text is inside of a container
  containerNodeCheck = function(node, container) {
    while (node) {
      if (node.id === container) {
        return true;
      }
      node = node.parentNode;
    }
    return false;
  }

  // Transfers the contents of the div to the hidden input upon hitting submit so that
  // the form will pass the editable div content as a param
  grabInput = function() {
     document.getElementById('paragraph_body').value = editableDiv.innerHTML
   }
  
  // Stores needed elements inside varaibles:
  var display = document.getElementById('href-display')
  var adder = document.getElementById('href-adder')
  var link = document.getElementById('link')
  var editableDiv = document.getElementById('editable-div')
  
  // Sets href input and insert button to hidden at the start
  hideInputs()
</script>

<!-- For JQuery, bind the button Add Link on mousedown (on click removes the selection)
and popup the form with AJAX-->