<div class="footer-bottom">
  <div class="row">
  	<p id="footer-content">Created by Alex Codreanu, Amara Getzell, Eric Stensland, Matt O'Connell, and Neal Peters</p>
  	<p id="built">Built at Dev Bootcamp</p>
    <%= link_to "Github Project", "https://github.com/nealcpeters/infobytes", target: "_blank" %> · <%= link_to "About", about_path %>
    </div>        
</div>