<div class="footer-bottom">
  <div class="row">
    <div class="medium-4 medium-4 columns">
      <ul>
        <li><%= link_to "#{fa_icon('github', class: "fa-4x")}".html_safe, "https://github.com/nealcpeters/infobytes", target: "_blank" %></li>
        <li><p class="copyright">&copy; 2014 infobytes, Inc. All rights reserved.</p></li>
      </ul>
    </div>          
  </div>
</div>